<% include ./partials/header %>
  <div class="container-fluid">
   <!-- <h1><%= title %></h1> -->
    <div class="text-center home-head">
      <h1>Code with others on your screen</h1>
      <h3>Share one text editor while you collaborate in real-time. <br>
      With DevsPair, you are both in control whenever you choose.</h3>
      <button class="btn btn-primary"> LET'S START</button>
    </div>
  </div>
  <div class="container" id="about">
    <h1 class="text-center"> Screen sharing, even better </h1>
    <div class="row">
      <div class="col-md-6">
        <img class="pair-img img-responsive" src="/images/pair1.png"></img>
      </div>
      <div class="col-md-6">
        <img class="pair-img img-responsive" src="/images/pair2.png"></img>
      </div>
    </div

    
  </div>
  
    

    
  
<% include ./partials/footer %>