<% include ./partials/header %>
  <div class="container-fluid">
   <!-- <h1><%= title %></h1> -->
    <div class="text-center home-head">
      <div id="signout-home"></div>
      <h1>Code with others remotely</h1>
      <h3>Share one text editor while you collaborate in real-time. <br>
      You each get your own mouse cursor, and you're both always in control.</h3>
      <a href="<%='/login'%>"class="btn btn-lg btn-primary"> LET'S START</a>
    </div>
  </div>
  <div class="container" id="about">
    <h1 class="text-center"> Screen sharing made even better </h1>
    <div class="row">
      <div class="col-md-6">
        <h4>Get quick, instant help from your teammates</h4>
        <img class="pair-img img-responsive" src="/images/pair1.png"></img>
      </div>
      <div class="col-md-6">
        <h4>Iterate on designs effortlessly</h4>
        <img class="pair-img img-responsive" src="/images/pair2.png"></img>
      </div>
    </div

    
  </div>
</div>
  
  <hr>
    <footer>
      Andela Nigeria Cycle 19
    </footer>
    
<% include ./partials/footer %>