<% include ./partials/header %>


<div class="container-fluid">
<div class="panel">
  <div class="sidebar"></div> 

  <a href="/pair" id="new-session" class="btn btn-success"> CREATE NEW SESSION </a> 
  <span id="link-share">Share This Link: <a href="#" id="pairURL"></a></span>
 
  <div id="firepad-container"></div>   
</div>
</div>

<% include ./partials/footer %>