<% include ./partials/header %>


<h1>This is the pair page</h1>
<p>Pair program should appear here</p>

<!-- <script src="/javascripts/dashboard.js"></script> -->
<!-- <script src="/javascripts/scripts.js"></script> -->
<% include ./partials/footer %>