body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.navbar{
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: transparent;
}

.navbar a {
  color: white;
}

.home-head {
  padding-top: 180px;
  font: bold 2em 'Merriweather Sans', sans-serif;
  line-height: 4;
  color: white;
}

a {
  color: #00B7FF;
}

.pair-img {
  width: 500px;  
}

.full {
  background: url('/images/bgrd.jpg');
  background-size: cover;
  background-position: 0 0;
  height: 100vh;
  z-index:-9999999;
  top:0;
}

#about h1 {
  margin-top: 200px;
  margin-bottom: 50px;
  font: bold 2em 'Merriweather Sans', sans-serif;
}

#about h4 {
  font: bold 1.5em 'Merriweather Sans', sans-serif;
  padding: 10px;
}

.login-form {
  padding-top: 50px;
  margin: auto;
  width: 400px;
}

#login-head {
  color: white;
}

 #firepad-container {
  margin-top: 5%;
  margin-left: 19%;
  width: 900px;
  height: 450px;
  position: fixed;
  border: 1px solid black;
}

.sidebar {
  position: fixed;
  left: 0;
  margin: 0;
  top: 0;
  z-index: -1;
  width: 15%;
  height: 100%;
  background-color: dodgerblue;
}

#new-session {
  position: fixed;
  top: 16%;
  left: 20%;
  background: dodgerblue;
  color: ghostwhite;
  font-weight: bold;
}

#link-share {
  position: fixed;
  top: 18%;
  left: 45%;
}

#signout-nav {
  cursor: pointer;
}

footer {
  background-color: lightsteelblue;
  padding: 20px;
  margin: 0;
  text-align: center;
}