body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.navbar{
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #f8f8f8;
}

.home-head {
  padding-top: 200px;
  font-family: bold 2em 'Merriweather Sans', sans-serif;
  color: white;
}

a {
  color: #00B7FF;
}

.pair-img {
  max-width: 400px;  
}

.full {
  background:url(/images/bgrd.jpg);
  height:600px;
}

#about h1 {
  padding: 20px;
}